.card-hover:hover{
    box-shadow: -5px 13px 50px 0px rgba(0,0,0,0.1);
}
.product-details{
    max-width: 50%;
}
@media(max-width: 556px){
    .product-details{
        max-width: max-content;
    }
}